.buttonquick {
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  top: 35%;
  left: 74%;
}

.w-full:hover .buttonquick {
  opacity: 100;
}

/* @media (min-width: 280px) and (max-width: 390px) {
  .Navimg {
    position: absolute;
    top: 50%;
  }
} */
